doctype html
html(ng-app="partialApp")
  head
    title= title
    meta(name='perf-plugin-special', content=perfContextVariable)
    meta(name='author', content=user.displayName)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=files.url('bootstrap.css'))
    link(rel='stylesheet', href=files.url('stallion-site.css'))    
    link(rel='stylesheet', href='https://s3.amazonaws.com/pfitz-public/fonts/fira/fira.css')
    !=files.bundle('app.bundle.css').toBundleHtml()
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    style(type='text/css')
      body { padding-bottom: 40px; }
      .sidebar-nav { padding: 9px 0; } 
  body
    !=files.bundle('app.bundle.js').toDebugHtml()
    block body_head
      div.container
        div.jumbotron
          h1
            a(href="/")
              img(src=files.url("stallion-rearing-150.png"))
              br
              h1 Stallion
          h2 Blazing fast, hassle-free, blog & content engine for techies
    block content
      div.container
        div.jumbotron
          h1 Override this contentn
          p Default Content

  